[Unit]
Description=kube-validate validates kubernetes yaml

[Service]
ExecStartPre=/usr/bin/docker pull chuckdha/kube-validate:latest
ExecStart=/usr/bin/docker run --network host chuckdha/kube-validate:latest
Restart=always

[Install]
WantedBy=multi-user.target
