[Unit]
Description=kubeyaml validates kubernetes yaml

[Service]
ExecStartPre=/usr/bin/docker pull chuckdha/kubeyaml:latest
ExecStart=/usr/bin/docker run --network host chuckdha/kubeyaml:latest
Restart=always

[Install]
WantedBy=multi-user.target
