body {
    background: thistle;
}

textarea {
    width: 450px;
    height: 500px;
    display: block;
    font-family: monospace;
    font-size: 12pt;
}

table {
    font-family: monospace;
}

table thead tr th {
    border-width: 2px;
    border-bottom-style: solid;
}

table tbody tr td {
    text-align: center;
}

/* result styles*/

.hide {
    display: none;
}

.tab {
    font-size: 26px;
}

span.red {
    color: red;
}

#pond {
    display: flex;
}
