body {
    background: thistle;
}

textarea {
    width: 50%;
    height: 500px;
    display: block;
    font-family: monospace;
    font-size: 12pt;
}

table {
    font-family: monospace;
}

table thead tr th {
    border-width: 2px;
    border-bottom-style: solid;
}

table tbody tr td {
    text-align: center;
}
