<html>

<head>
    <title>Kubernetes YAML Validation</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Kube YAML validations</h1>
    <p>Enter your kubernetes yaml below and see which versions it is valid for. Please only enter one YAML document at
        a time, this will not split YAML documents with <code>---</code> correctly.</p>
    <p>If you find weird output, please make a <a href="https://gist.github.com" target="_blank">gist</a> and send it
        to
        <a href="https://twitter.com/chuck_ha" target="_blank">me on twitter</a> or find me @cha on the <a href="http://slack.k8s.io"
            target="_blank">kubernetes
            slack</a></p>

    <p onclick="example()">👉Click me to fill in an example👈</p>
    <div id="pond">
        <div class="user-input">
            <form id="input" method="POST" action="/validate">
                <label for="data">Enter YAML below</label>
                <textarea name="data"></textarea>
                <button type="submit">Validate</button>
            </form>
        </div>

        <div class="error-tables">
            {{range .Validators}}
            <table class="errors">
                <thead>
                    <tr>
                        <th>{{.Version}} Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            {{end}}
        </div>

        <div class="result-container">
            <nav class="bar">
                <ul>
                    {{range .Validators}}
                    <li onclick="select(this)" class="{{if eq .Version $.Selected}}selected {{end}}tab">{{.Version}}</li>
                    {{end}}
                </ul>
            </nav>
            <section>
                {{range $index, $v := .Validators}}
                <div class="{{if ne $v.Version $.Selected}}hide {{end}}result" data-version="{{$v.Version}}" data-error-table-index="{{$index}}">
                    <pre></pre>
                </div>
                {{end}}
            </section>
        </div>
    </div>

</body>

<script src="/static/app.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125983530-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-125983530-1');
</script>

</html>
