<html>

<head>
    <title>Kubernetes YAML Validation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Kube YAML validations</h1>
    <p>Enter your kubernetes yaml below and see which versions it is valid for. Please only enter one YAML document at
        a time, this will not split YAML documents with <code>---</code> correctly.</p>
    <p>If you find weird output, please make a <a href="https://gist.github.com" target="_blank">gist</a> and send it
        to
        <a href="https://twitter.com/chuck_ha" target="_blank">me on twitter</a> or find me @cha on the <a href="http://slack.k8s.io"
            target="_blank">kubernetes
            slack</a></p>

    <p onclick="example()">👉Click me to fill in an example👈</p>
    <div id="pond">
        <div class="user-input">
            <form id="input" method="POST" action="/validate">
                <label for="data">Enter YAML below</label>
                <textarea name="data"></textarea>
                <button type="submit">Validate</button>
            </form>
        </div>
        <div class="errors">
            <table id="one-eight-errors">
                <thead>
                    <tr>
                        <th>1.8 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table id="one-nine-errors">
                <thead>
                    <tr>
                        <th>1.9 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table id="one-ten-errors">
                <thead>
                    <tr>
                        <th>1.10 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table id="one-eleven-errors">
                <thead>
                    <tr>
                        <th>1.11 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table id="one-twelve-errors">
                <thead>
                    <tr>
                        <th>1.12 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="result-container">
        <div class="bar">
            <button id="one-eight-button" class="tab" onclick="showResult('one-eight')">1.8</button>
            <button id="one-nine-button" class="tab" onclick="showResult('one-nine')">1.9</button>
            <button id="one-ten-button" class="tab" onclick="showResult('one-ten')">1.10</button>
            <button id="one-eleven-button" class="tab" onclick="showResult('one-eleven')">1.11</button>
            <button id="one-twelve-button" class="tab" onclick="showResult('one-twelve')">1.12</button>
        </div>

        <div id="one-eight" class="result">
            <h2>1.8</h2>
            <pre></pre>
        </div>
        <div id="one-nine" class="result hide">
            <h2>1.9</h2>
            <pre></pre>
        </div>
        <div id="one-ten" class="result hide">
            <h2>1.10</h2>
            <pre></pre>
        </div>
        <div id="one-eleven" class="result hide">
            <h2>1.11</h2>
            <pre></pre>
        </div>
        <div id="one-twelve" class="result hide">
            <h2>1.12</h2>
            <pre></pre>
        </div>
    </div>
</body>

<script src="/static/app.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125983530-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-125983530-1');
</script>

</html>
