<html>

<head>
    <title>Kubernetes YAML Validation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Kube YAML validations</h1>
    <p>Enter your kubernetes yaml below and see which versions it is valid for. Please only enter one YAML document at
        a time, this will not split YAML documents with <code>---</code> correctly.</p>
    <p>If you find weird output, please make a <a href="https://gist.github.com" target="_blank">gist</a> and send it
        to
        <a href="https://twitter.com/chuck_ha" target="_blank">me on twitter</a> or find me @cha on the <a href="http://slack.k8s.io"
            target="_blank">kubernetes
            slack</a></p>

    <p onclick="example()">👉Click me to fill in an example👈</p>
    <div id="pond">
        <div class="user-input">
            <form id="input" method="POST" action="/validate">
                <label for="data">Enter YAML below</label>
                <textarea name="data"></textarea>
                <button type="submit">Validate</button>
            </form>
        </div>
        <div>
            <table class="errors">
                <thead>
                    <tr>
                        <th>1.8 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="errors">
                <thead>
                    <tr>
                        <th>1.9 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="errors">
                <thead>
                    <tr>
                        <th>1.10 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="errors">
                <thead>
                    <tr>
                        <th>1.11 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="errors">
                <thead>
                    <tr>
                        <th>1.12 Errors</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="result-container">
        <nav class="bar">
            <ul>
                <li onclick="select(this)" class="selected tab">1.8</li>
                <li onclick="select(this)" class="tab">1.9</li>
                <li onclick="select(this)" class="tab">1.10</li>
                <li onclick="select(this)" class="tab">1.11</li>
                <li onclick="select(this)" class="tab">1.12</li>
            </ul>
        </nav>
        <section>
            <div class="result" data-version="1.8" data-error-table-index="0">
                <pre></pre>
            </div>
            <div class="result hide" data-version="1.9" data-error-table-index="1">
                <pre></pre>
            </div>
            <div class="result hide" data-version="1.10" data-error-table-index="2">
                <pre></pre>
            </div>
            <div class="result hide" data-version="1.11" data-error-table-index="3">
                <pre></pre>
            </div>
            <div class="result hide" data-version="1.12" data-error-table-index="4">
                <pre></pre>
            </div>
        </section>
    </div>
</body>

<script src="/static/app.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125983530-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-125983530-1');
</script>

</html>
