<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Bulma!</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	</head>
<body>
<div>
	<section class="section">
		<section class="hero background-is-light">
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-1">Kube YAML</h1>
					<h3 class="subtitle is-3">Validating Kubernetes objects since 2018</h3>
				</div>
			</div>
		</section>
	</section>

	<div class="container">
		<div class="content">
			<p class="is-7">⚠️ Please only enter one YAML document at a time.</p>
		</div>
	</div>

	<section class="section">
		<div class="tile ancestor">
			<div class="tile is-parent is-5">
				<div class="is-child">
					<div class="content">
						<form>
							<button class="button is-success">Example YAML</button>
							<span class="tag is-pulled-right">hi</span>
							<textarea rows="30" class="is-family-code" placeholder="Paste YAML here!"></textarea>
						</form>
					</div>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="is-child">
					<div class="tabs is-fullwidth">
						<ul>
							<li class="is-active"><a>Pictures</a></li>
							<li><a>Music</a></li>
							<li><a>Videos</a></li>
							<li><a>Documents</a></li>
						</ul>
					</div>
					<div class="content">
						<p>hello</p>
						<pre>errors go here</pre>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<nav class="level">
			<div class="level-item">
				<div class="content">
					<figure><a href="https://github.com/chuckha/kubeyaml">lol image</a></figure>
				</div>
			</div>
		</nav>
	</footer>
</div>
</body>
</html>
